body{
	margin:0; padding: 0;
	font-family: arial, sans-serif;
}
#header{
	width: 100%;
	height: 56px;
	background-color: black;
}
#wrapper{
	width:1024px;
	min-height: 500px;
	margin:0px auto;
}
#portfolio{
	list-style-type: none;
	padding-left: 0px;
}
#portfolio li{
	display: inline-block;
	margin: 10px 5px 10px 5px;
}
#portfolio li img{
	width: 240px;
	height: 170px;
}
#portfolio li img:hover{
	cursor: pointer;
	}
#overlay:hover{
	cursor: pointer;
}
#main:hover{
	cursor: pointer; 
}

#menu {
	color: white;
	width:1024px;
	margin:5px auto;
}
h2{
	margin: 0px;
}
#main{
	width:660px;
	margin-left: 20px; 

}
#overlay{
	display:none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity:0.7;
}
#frame{
	display: none;
	left: 50%;
	position: fixed;
	background-color: white;
	width: 700px;
	height: 500px;
	margin-left: -350px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
}
#frame img{
	width: 660px;
	margin-left: 20px;
}
#frame-table{
	position: absolute;
	width: 660px;
	margin-left: 20px;
}
#right{
	float: right;
}
#right,#left{
	position: relative;
	top: 150px;
	opacity: 0.5;
}
#left img{
	margin-left: -3px;

}
#right img{
	margin-right: -3xpx;
}

#description{
	background-color: white;
	padding-bottom: 10px;
}
#description p{
	margin-left: 20px;
}
#filter li{
	display: inline;
}
#filter li.active{
	text-decoration: underline;
}

 