<li data-keywords = "cat" class="all animal"><img id="1" src="images/1.jpg" alt="img"></li>
		<li data-keywords = "queen" class="all nature"><img id="2" src="images/2.jpg" alt="img"></li>
		<li data-keywords = "frog" class="all animal"><img id="3" src="images/3.jpg" alt="img"></li>
		<li data-keywords = "dog" class="all animal"><img id="4" src="images/4.jpg" alt="img"></li>
		<li data-keywords = "tiger water" class="all animal"><img id="5" src="images/5.jpg" alt="img"></li>
		<li data-keywords = "fruit" class="all nature"><img id="6" src="images/6.jpg" alt="img"></li>
		<li data-keywords = "3D" class="all architecture"><img id="7" src="images/7.jpg" alt="img"></li>
		<li data-keywords = "tiger" class="all animal"><img id="8" src="images/8.jpg" alt="img"></li>